{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<p>
This is the my skills page
</p>
<table style="width:30%">
<tr>
<th>Skill</th>
<th>Due</th>
<th>Has Been Correct</th>
<th>Practice</th>
</tr>
{% for skill in masterylist %}
<tr>
    <td>{{skill[0]}}</td>
    <td{% if skill[3]%} class = incorrect {% else %} class = correct {% endif %}>{{skill[1]}}</td>
    <td{% if skill[2] == 'yes'%} class = correct {% elif skill[2] == 'no'  %} class = incorrect {% endif %}>{{skill[2]}}</td>
    <td><a href = "practice/{{skill[0]}}" >PRACTICE</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
